.ProductListMain {
    display: flex; /* Используем Flexbox для расположения товаров */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку */
    justify-content: space-between; /* Распределяем пространство между элементами */
    padding: 20px; /* Отступы вокруг списка товаров */
}

.ProductListTitle {
    width: 100%; /* Заголовок занимает всю ширину */
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
}

.product {
    flex: 0 1 calc(33% - 10px); /* Каждый товар занимает 33% ширины минус отступы */
    box-sizing: border-box; /* Учитываем отступы в ширине */
    margin-bottom: 20px; /* Отступ снизу для каждого товара */
    border: 1px solid #ccc; /* Рамка вокруг товара */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px; /* Внутренние отступы */
    text-align: center; /* Центрируем текст внутри товара */
}

.product img {
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 5px; /* Закругленные углы для изображения */
}

.product h2 {
    font-size: 1em; /* Размер шрифта для названия товара */
    margin: 10px 0; /* Отступы сверху и снизу */
}

.product p {
    font-size: 1em; /* Размер шрифта для цены */
    color: #333; /* Цвет текста для цены */
}

.product button {
    width: 100px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    background-color: #f83333; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы кнопки */
}

.product button:hover {
    background-color: #c0392b; /* Изменение цвета фона при наведении */
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .product {
        flex: 0 1 calc(50% - 10px); /* Каждый товар занимает 50% ширины для средних экранов */
    }

    .product button {
        width: 90%; /* Кнопка занимает 90% ширины */
    }
}

@media (max-width: 480px) {
    .product {
        flex: 0 1 100%; /* Каждый товар занимает 100% ширины для маленьких экранов */
    }

    .product h2 {
        font-size: 0.9em; /* Уменьшить размер текста заголовка для мобильных устройств */
    }

    .product p {
        font-size: 0.9em; /* Уменьшить размер текста цены для мобильных устройств */
    }

    .product button {
        width: 100%; /* Кнопка занимает всю ширину */
    }

    .ProductListMain {
        padding: 10px; /* Уменьшить отступы вокруг списка товаров на мобильных устройствах */
    }
}
